#Carousel
{
    margin-top: 10%;
}

::-webkit-scrollbar {
    display: none;
}
body 
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
 
}
.Card_Car
{
    border-radius: 30px;
}
 .BG
{
    background-image: url(images/BG_Bahrain.png);
    background-size: cover;
    background-repeat: no-repeat;
} 
.navbar-toggler-icon
{
    z-index: 2;
}
.Card_Rolunk
{
    background-color: rgba(0,0,0,0);
    border: none;
    height: max-content;
}

.menu
{
    font-weight: bold;
}
.menu div ul li a
{
    color: rgb(212,175,55);
    font-size: 1.6rem;
}
.menu div ul li a:hover
{
    color: rgb(212,175,55)!important;
}
#oszlop1
{
    width: 13%;
}
#Verseny
{
    width: 10%;
    
}

#varhatoversenyeink
{
    margin-top: 1%;
    margin-left: 1%;
}

#rendezvenyek
{
    margin-top: 1%;
    margin-left:1%;
}

#elerhetosegink
{
    margin-top: 1%;
    margin-left:1%;
}
/* Mark input boxes that gets an error on validation: */
input.invalid 
{
    background-color: #ffdddd;
}
  
  /* Hide all steps by default: */
.tab 
{
    display: none;
}
.step 
{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
#allas_form
{
    padding: 1%;
    border-radius: 10px;
    border: rgba(50,  50, 50, 0.7) 3px solid;
    font-size: 1.8rem;
}
.step.active 
{
    opacity: 1;
}
#table
{
    margin: auto;
}
#form_indicator
{
    text-align:center;
    margin-top: 7px;
}

tr
{
    border: 1px solid black;
}
.carousel-item img
{
    height: 100vh !important;
}
.vissza
{
    text-decoration: none;
}
#main_bg_video
{
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;

}
.video
{
    width: 100%;
    z-index: -1;
}
#bültetveny
{
    width: 100%;
    height: 100%;
}

.twitter
{
    width: 30%;
    height: 30%;
    max-width: 95%;
}
.vissza button

{
    display: none;
}
.asd
{
    margin-right: 10px;
}
#main_menu
{
    z-index: 1;
    margin-top: 0;
    position: absolute;
}
#main_menu nav  div ul li a
{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(212,175,55)
}

.CarouselText
{
    color: rgb(30,  30, 30);
    margin-left: 1%;
    margin-top: auto;
    height: min-content;
    font-size: 1.6rem;
    text-align: justify;
    width: 95%;
    bottom: 0;
    top: 0;
    position: absolute;
}


 
@media only screen and (max-width: 1300px ) 
{
    #allas_form
    {
        border: none;
        
    }
}
@media only screen and (max-width: 1195px ) 
{
    
    .CarouselText
    {
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 767px)
{
    
    
    #main_menu nav  div ul li a
    {
        font-size: 1.4rem;
    }
    .CarouselText
    {
        font-size: 1.2rem;
    }
    .carousel-indicators
    {
        display: none;
    }
    .menu div ul li a
    {
        font-size: 1.2rem;

    }
}
@media only screen and (max-width: 600px) 
{
    label
    {
        font-size: 0.9rem;
    }
    .carousel-indicators
    {
        display: none;
    }
    .menu div ul li a
    {
        font-size: 1.4rem;
    }
    .vissza button
    {
        display: block;
    }
    #allas_form
    {
        font-size: 1.5rem;
    }
    
}
@media only screen and (max-width: 576px)
{
    #allas_form
    {
        font-size: 1.3rem;
    }
    .CarouselText
    {
        font-size: 1rem;
    }
    
  
}
@media only screen and (max-height: 600px) 
{
    #main_bg_video
    {
        display: block!important;
    }
    #main_BG
    {
        background-image: none!important;
    }
    .navbar-expand-sm .navbar-nav
    {
        flex-direction: row!important;
    }
    #main_menu nav  div ul li a
    {
        font-size: 0.8rem!important;
    }
}
       
@media only screen and (max-width: 486px)
{
    #main_menu nav  div ul li a
    {
        font-size: 1.3rem;
    }
    .CarouselText
    {
        font-size: 0.9rem;
    }
    .menu div ul li a
    {
        font-size: 1.3rem;
    }
    .BG
    {
        background-image: url(images/BG_Bahrain.png);
        background-size: auto;
        background-repeat: no-repeat;
    }
    #main_BG
    {
        background-image: url(images/Hungaroring_Telo1.png);
        background-size: auto;
        background-repeat: no-repeat;
    }
    #main_bg_video
    {
        display: none;
    }
    
}
@media only screen and (max-width: 420px)
{
    .CarouselText
    {
        font-size: 0.6rem;
    }
    .menu div ul li a
    {
        font-size: 1.2rem;

    }
    .menu div ul li 
    {
        margin-left: 1%!important;
        margin-right: 1%!important;
    }
}


